body {
    font-family: Garamond ;                             
    font-weight: 500px;
    line-height: 1.42em;
    color: #ffffff;
    background-color: #1F2739;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #4DC3FA;
}

.margin{
    margin-left: 20px;
}

a{color: #ffffff;}

.blue {
    color: #185875;
}

.yellow {
    color: #FFF842;
}
.float{
    float: right;
    width: 600px; height: auto;
    margin-right: 10vh;
}



@media (max-width: 800px) {
    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}
