<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssRicette.css')}}">
    <title>Document</title>
</head>
<body>
    <h1><span class="yellow">Cosce Di Pollo Gratinate</pan></h1><br><br><br><br>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/CosceDiPolloGratinate.png')}}">
                Le cosce di pollo al forno sono un secondo piatto di carne molto saporito, adatto anche per i meno esperti in cucina perché 
                facile e veloce da preparare. Si tratta di una variante gustosa del classico pollo arrosto che noi abbiamo scelto di preparare
                 con i fusi di pollo, la parte più bassa della coscia che è anche la più succulenta.
Nella nostra versione i fusi vengono prima marinati con olio, aglio, rosmarino, timo e alloro, quindi impanati con uova e panko, una sorta
 di pangrattato tipico della cucina giapponese, e infine cotti in forno finché non risultano ben dorati. La marinatura rende le cosce profumate
  e ancor più morbide e gustose, mentre la panatura permette di trattenere i succhi della carne all'interno, così da avere cosce croccanti fuori
   ma tenerissime e per nulla secche dentro, evitando quel fastidioso effetto di pollo asciutto e insapore.
            </h2>
        </span><br><br><br><br><br><br>

    <h1>Fasi</h1>
       <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Cosce-di-pollo-gratinate.png')}}">
                Inizia la preparazione delle cosce di pollo al forno tamponando i fusi con carta assorbente da cucina, poi incidi la pelle con un paio di forbici e tirala via del tutto 1. Se preferisci cucinare i fusi senza rimuovere la pelle, controlla che non siano presenti delle piume: nel caso in cui ci fossero, rimuovile utilizzando una pinzetta. Disponili poi in una pirofila e aggiungi gli ingredienti della marinatura, quindi olio, aglio, rosmarino, timo e alloro. Lascia le cosce di pollo in infusione per almeno un'ora, così che la carne assorba bene i sapori.
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br>

        <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Cosce-di-pollo-gratinate_impanare_2-1024x640.png')}}">
                Trascorso il tempo necessario solleva delicatamente i fusi e spostali su un tagliere, poi impanali passandoli prima nell'uovo, sbattuto con un pizzico di sale, e poi nel panko 2.
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Cosce-di-pollo-gratinate_infornare_4-1024x640.png')}}">
                Disponi le cosce di pollo in una teglia leggermente oliata, aggiungendo sale, pepe e, se vuoi, un'altra spolverata di erbe aromatiche. In ultimo condisci con un filo d'olio e inforna a 200 °C per circa 40 minuti
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>