<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssRicette.css')}}">
    <title>Document</title>
</head>
<body>
    <h1><span class="yellow">Medaglioni Di Formaggio</pan></h1><br><br><br><br>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/CosceDiPolloGratinate.png')}}">
                I medaglioni di formaggio fritto sono un antipasto goloso e assolutamente irresistibile. <br>
                 Semplice e ultra rapida, la ricetta prevede che il formaggio a pasta filata venga tagliato a <br>
                  fette, passato in una doppia panatura di farina, uova e pangrattato – un trucchetto per  <br>
                  ottenere una copertura omogenea e impeccabile – e infine fritto in olio bollente. <br> 
                  Il risultato è una delizia croccante all'esterno e morbida e filante al cuore: una validissima <br>
                   alternativa a carne e pesce, perfetta per conquistare grandi e piccini. Se servita in porzioni <br>
                    più abbondanti e accompagnata da un contorno di verdure o un'insalata, può rappresentare anche <br>
                     un secondo piatto sfizioso e veloce, ideale quando si ha poco tempo da dedicare ai fornelli <br>
                      ma non si vuole rinunciare a qualcosa di molto appagante. Scoprite come realizzare i medaglioni <br>
                       di formaggio fritto seguendo passo passo tutti i nostri consigli.
            </h2>
        </span><br><br><br><br><br><br>

    <h1>Fasi</h1>
       <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Medaglioni-di-formaggio_infarinare-formaggio.png')}}">
                Passate i medaglioni di formaggio nella farina, premendo bene per farla aderire
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Medaglioni-di-formaggio_mettere-formaggio.png')}}">
                Passate le fette di formaggio nelle uova, facendo in modo che siano ben ricoperte 
            </h2>
        </span><br><br><br><br><br><br>

</body>
</html>