<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssRicette.css')}}">
    <title>Document</title>
</head>
<body>
    <h1><span class="yellow">platessa Panata</pan></h1><br><br><br><br>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/platessa.png')}}">
                Pulite la platessa, facendo attenzione che non vi siano delle lische residue 1.
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h1>Fasi</h1>
       <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/platessa_panata_pulire_pesce-638x425.avif')}}">
                Fate sciogliere una noce abbondante di burro in una padella; quando sarà ben caldo, disponete i filetti di pesce 5 e fateli dorare su entrambi i lati girandoli delicatamente con una paletta, per evitare che si sfaldino.
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/platessa_panata_cuocere-638x425.avif')}}">
                Fate sciogliere una noce abbondante di burro in una padella; quando sarà ben caldo, disponete i filetti di pesce 5 e fateli dorare su entrambi i lati girandoli delicatamente con una paletta, per evitare che si sfaldino.
            </h2>
        </span><br><br><br><br><br><br>

</body>
</html>