<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssRicette.css')}}">
    <title>Document</title>
</head>
<body>
    <h1><span class="yellow">Polpette Di carne</pan></h1><br><br><br><br>
        <p>{{testo}}</p>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Polpette-di-carne-1200x675.avif')}}">
                Le polpette di carne sono un secondo piatto semplice e molto gustoso, un grande classico della tradizione italiana. Si preparano con polpa macinata, uova, mollica di pane, prezzemolo tritato, formaggio grattugiato e, una volta ottenute delle palline di medie dimensioni, queste vengono fritte in olio di oliva bollente, fino a leggera doratura. Il risultato finale sono dei bocconcini di carne croccanti all'esterno e morbidi al cuore, da servire ben caldi in occasione di un pranzo domenicale in famiglia.
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h1>Fasi</h1>
       <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Polpette-di-carne_impastare_1.avif')}}">
                Aggiungete il formaggio grattugiato 2, un pizzico di sale e le uova.   
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Polpette-di-carne_formare_polpette_6.avif')}}">
                Prelevate pezzetti di impasto grandi come un'albicocca e formate una pallina fra i due palmi della mani 6.
            </h2>
        </span><br><br><br><br><br><br><br><br><br><br><br><br><br><br>><br><br><br><br><br><br>

        <span>
            <h2 class="margin"><img class="float"src="{{url_for('static', filename='img/Polpette-di-carne_friggere_10.avif')}}">
                Friggete poche polpette alla volta a fuoco medio 11.
            </h2>
        </span><br><br><br><br><br><br>

</body>
</html>