<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssRicette.css')}}">
    <title>Document</title>
</head>
<body>
    <h1><span class="yellow">Cucina d'italia</pan></h1><br><br><br><br>
        <center>
            <img src="{{url_for('static', filename='img/CosceDiPolloGratinate.png')}}">
                <h2>Cosce Di Pollo Gratinate</h2>
            <img src="{{url_for('static', filename='img/MedaglioniDiFormaggio.png')}}">
                <h2>Medaglioni Di Formaggio</h2>
            <img src="{{url_for('static', filename='img/platessaPanata.png')}}">
                <h2>platessa Panata</h2>
            <img src="{{url_for('static', filename='img/PolpetteDiCarne.png')}}">
                <h2>Polpette Di Carne</h2>
        </center>
</body>
</html>